body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #EFEFEF;
  --blue: #101D3E;
  --light: #FDFDFD;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,  /* need this? */
body {
  min-height: 100%;
  background: url(assets/background3.jpg)
}

body {
  background-color: var(--primary);
}

header {
  background-color: var(--primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: var(--blue);              
}

li {
  list-style: none;
}

a, a:hover {
  color: var(--blue);
  text-decoration: none;
}

p {
  color: var(--blue);
}

footer {
  background: var(--primary);
}

.aboutText {
  color: var(--blue);
  text-align: center;
}

.containerColor {
  background: linear-gradient(var(--primary), var(--light));
  padding: 10% 15%;
}

.containerProject {
  background: linear-gradient(var(--primary), #FDFDFD);
}


.headerIcon {
  color: var(--blue);
  opacity: .6;
}

.mx-2 {
  margin-right: var(--spacing-two); /* not currently using*/
  margin-left: var(--spacing-two);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.pageContent {
  font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

.projectImg {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two)
}
